@model IEnumerable<DoAnCoSo.Models.Styles>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Quản Lý Mẫu Tóc</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="/Admin/Home/Index">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="/Admin/Styles/Index">Mẫu Tóc</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Thêm Mẫu Tóc</h4>
                        <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                            <i class="fa fa-plus"></i>
                            Thêm Mới
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Modal -->
                    <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header no-bd">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @Html.Partial("Create", new DoAnCoSo.Models.Styles())
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="add-row" class="display table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Tên Mẫu Tóc</th>
                                    <th>Ảnh Mẫu Tóc</th>
                                    <th>Mô Tả</th>
                                    <th>Giá Tiền</th>
                                    <th style="width: 10%">Hành Động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr data-barbers-id="@item.StyleId">

                                        <td>@Html.DisplayFor(modelItem => item.StyleName)</td>
                                        <td>
                                            <div class="avatar avatar-lg">
                                                <img src="@Url.Content("~/ListImages/Styles/" + Html.DisplayFor(modelItem => item.Image))" alt="..." class="avatar-img rounded-circle">
                                            </div>
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                        <td><span class="price" data-price="@item.Price">$@item.Price</span></td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" class="btn btn-link btn-primary btn-lg btn-edit" data-toggle="modal" data-target="#editPopup_@item.StyleId" data-toggle="tooltip" title="Edit Task">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-link btn-danger btn-lg btn-delete" data-toggle="modal" data-target="#deletePopup_@item.StyleId" data-toggle="tooltip" title="Remove">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                            <!-- Popup Chỉnh sửa -->
                                            <div id="editPopup_@item.StyleId" class="modal fade" tabindex="-1" role="dialog">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <!-- Nội dung của trang Edit -->
                                                            @Html.Partial("Edit", item)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Popup Xóa -->
                                            <div id="deletePopup_@item.StyleId" class="modal fade" tabindex="-1" role="dialog">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <!-- Nội dung của trang Delete -->
                                                            @Html.Partial("Delete", item)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $('#add-row').DataTable();
        $(document).ready(function () {
            $('#addRowButton').click(function () {
                $('#add-row').dataTable().fnAddData([
                    $("#addName").val(),
                    $("#addPosition").val(),
                    $("#addOffice").val(),
                    action
                ]);
                $('#addRowModal').modal('hide');

            });
        });
    </script>
    <script>
        // Định dạng giá tiền khi tải xong trang
        document.addEventListener('DOMContentLoaded', function () {
            var priceElements = document.getElementsByClassName('price');
            for (var i = 0; i < priceElements.length; i++) {
                var price = parseFloat(priceElements[i].getAttribute('data-price'));
                var formattedPrice = price.toLocaleString('vi-VN') + ' VNĐ';
                priceElements[i].textContent = formattedPrice;
            }
        });
    </script>
}
